.dark-image {
  width: 40px;
  height: 40px;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.head-container {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  height: 10vh;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.logo-image-header {
  width: 150px;
  height: 40px;
}

.logout-container {
  display: flex;
  align-items: center;
}

.dark {
  background-color: #212121;
}

.light {
  background-color: #ffffff;
}
